.input-form {
    max-width: 500px;
    width: 100%;
    textarea {
        width: 80%;
    }
}

.input-field {
    width: 80%;
}

.padding-25 {
    padding-left: 25px;
}

.padding-45 {
    padding-left: 45px;
}

.text-right {
    text-align: right;
    padding-right: 20px;
}

.action-btn {
    margin-top: 10px;
    margin-left: 20px;
}