ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        padding: 5px 0;
        min-height: 40px;
        display: flex;
        .label-title {
            width: 30%;
            float: left;
        }
        .label-value {
            width: 70%;
            float: right;
            input, textarea {
                width: 100%;
                max-width: 500px;
            }
            input {
                height: 35px;
            }
            textarea {
                height: 80px;
            }
        }
        p {
            font-size: 14px;
            margin: 5px 0;
        }
    }
}
.margin-10 {
    margin-left: 10px;
}